<div class="cardWrapper col-sm-12  col-lg-3">
    <div class="card cardGroup__card">
        <img style="border-radius: 8px 8px 0 0;" src="{{image}}">
        <div class="card__description cardGroup__cardDescription">

            <h5 class="pl-2 pr-2 mt-3">{{ title }}</h5>
            <small>{{likes}} Likes <i class="fas fa-thumbs-up"></i></small>
        </div>
        <div class="card__price">
            <a class="btn btn-sm btn-outline-success" href="#/recipe" recipeID={{id}}>
                    <div class="fas fa-arrow-circle-left">
                    </div>
                    Recipe Card

            </a>
                <button type="button" class="btn btn-sm btn-outline-success">
                                Shopping List
                    <div class="fas fa-arrow-circle-right">
                    </div>
                </button>
        </div>

    </div>
</div>

                <div id="recipe" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <br/><br/>
                            </div>
                            <div class="modal-body">
                                    {{ fullRecipe }}
                            </div>

                        </div>
            <!-- /.modal-content -->
                    </div>
        <!-- /.modal-dialog -->
                </div>

