<a href="#/search" class="mb-4 btn btn-sm btn-success">Back to Recipe Search</a>


<div class="recipe-wrapper">
    <img src="{{image}}" style="float: right;"
    <h1>{{title}}</h1>

    <h6>Ingredients</h6>
    <ul>
    <li>{{ingredientsa}}</li>
    <li>{{ingredientsb}}</li>
    <li>{{ingredientsc}}</li>
    <li>{{ingredientsd}}</li>
    <li>{{ingredientse}}</li>
    <li>{{ingredientsf}}</li>
    <li>{{ingredientsg}}</li>
    </ul>

    <h6>Description</h6>
    <p>{{instructions}}</p>
</div>