
<div class="row">
<div class="recipe-wrapper" style="background: beige; padding: 32px;">
    <img src="{{image}}" style=" margin: 25px; float: right;"
    <h1>{{title}}</h1>

    <h2>Ingredients</h2>
    <br/><br/>
    <ul>
    <li>{{ingredient1}}</li>
    <li>{{ingredient2}}</li>
    <li>{{ingredient3}}</li>
    <li>{{ingredient4}}</li>
    <li>{{ingredient5}}</li>
    <li>{{ingredient6}}</li>
    </ul>

    <a href="#/shopping" class="btn btn-sm btn-outline-success">
                                Send Ingredients to Shopping List
                    <div class="fas fa-arrow-circle-right">
                    </div>

      </a>

    <hr/>
    <h6>Description</h6>
    <p>{{instructions}}</p>
</div>
</div>

<style>
    div.search {
        display: none;
    }
</style>

<a href="#/search" style="margin-top: 24px; float: right;" class="mb-4 btn btn-sm btn-success">Back to Recipe Search</a>
<br clear="all">