<a href="#/search" class="mb-4 btn btn-sm btn-success">Back to Recipe Search</a>


<div class="recipe-wrapper">
    <img src="{{image}}" style=" margin: 25px; float: right;"
    <h1>{{title}}</h1>

    <h2>Ingredients</h2>
    <br/><br/>
    <ul>
    <li>{{ingredient1}}</li>
    <li>{{ingredient2}}</li>
    <li>{{ingredient3}}</li>
    <li>{{ingredient4}}</li>
    <li>{{ingredient5}}</li>
    <li>{{ingredient6}}</li>
    </ul>

    <button id="openshopping" type="button" class="btn btn-sm btn-outline-success">
                                Send Ingredients to Shopping List
                    <div class="fas fa-arrow-circle-right">
                    </div>
    </button>

    <hr/>
    <h6>Description</h6>
    <p>{{instructions}}</p>
</div>

<style>
    .jumbotron .search {
        display: none;
    }
</style>