
<div class="cardWrapper col-sm-6  col-lg-3" >
    <div class="shoppingCard" style="position: relative;">
    <i><b>Shopping List for<br/>{{DBrecipeName}}</i></b><br/>
		{{DBfood1}}<br/>
		{{DBfood2}}<br/>
		{{DBfood3}}<br/>
		{{DBfood4}}<br/>
		{{DBfood5}}<br/>
		{{DBfood6}}<br/>
		<button class="btn-sm btn-danger" deleteID="{{shoppingID}}"  id="deleteRecipe" class="btn-danger">remove</button>
    </div>
</div>

<style>
    div.search {
	  display: none;
    }
	.addItems {
		display: block;
		background: beige;
		padding: 24px;
	}
</style>
