
<div class="cardWrapper col-sm-6  col-lg-3">
    <div class="shoppingCard">
    <h5>{{DBrecipeName}}</h5>
    <ul>
		<li>{{DBfood1}}</li>
		<li>{{DBfood2}}</li>
		<li>{{DBfood3}}</li>
		<li>{{DBfood4}}</li>
		<li>{{DBfood5}}</li>
		<li>{{DBfood6}}</li>
	</ul>
	
		<button class="btn-sm btn-danger" deleteID="{{shoppingID}}"  id="deleteRecipe" class="btn-danger">remove</button>
	

    </div>
</div>

<style>
    div.search {
        display: none;
    }
</style>
