
<div class="cardWrapper col-sm-6  col-lg-3" >
    <div class="shoppingCard" style="position: relative;">
    <i><b>Shopping List for<br/>{{DBrecipeName}}</i></b><br/>
		<div class="recipeItem">{{DBfood1}}</div>
		<div class="recipeItem">{{DBfood2}}</div>
		<div class="recipeItem">{{DBfood3}}</div>
		<div class="recipeItem">{{DBfood4}}</div>
		<div class="recipeItem">{{DBfood5}}</div>
		<div class="recipeItem">{{DBfood6}}</div>
		<button class="btn-sm btn-danger" deleteID="{{shoppingID}}"  id="deleteRecipe" class="btn-danger">remove</button>
    </div>

</div>

<style>
    div.search {
	  display: none;
    }
	.addItems {
		display: block;
		background: beige;
		padding: 24px;
	}
</style>
