
<div class="cardWrapper col-sm-6  col-lg-3">
    <div class="shoppingCard">
    <h5>Shopping List for<br/>{{DBrecipeName}}</h5>
		{{DBfood1}}<br/>
		{{DBfood2}}<br/>
		{{DBfood3}}<br/>
		{{DBfood4}}<br/>
		{{DBfood5}}<br/>
		{{DBfood6}}<br/>
		<button class="btn-sm btn-danger" deleteID="{{shoppingID}}"  id="deleteRecipe" class="btn-danger">remove</button>
    </div>
</div>

<style>
    div.search {
	  display: none;
    }
	.addItems {
		display: block;
	}
</style>
